<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
    <link rel="stylesheet" href="/css/base.css">
</head>
<body>
    <section class="todoapp">
        <nav>
            <ul>
                <li>
                    <form>
                        <button type="submit" class="logout">Sign out</button>
                    </form>
                </li>
            </ul>
        </nav>
        <header>
            <h1>Exercise app</h1>
            <form>
                <input class="new-todo" name="title" placeholder="Add TODO here" autofocus/>
                <input type="hidden" name="filter"/>
            </form>
        </header>
    </section>
    <section class="main">
        <form>
            <input>
            <label for="">Mark all as complete</label>
        </form>
        <ul></ul>
    </section>
    <section>
        <ul class="filters">
            <li>
                <a>All</a>
            </li>
            <li>
                <a>Active</a>
            </li>
        </ul>
        <form>
            <button>Clear Complited</button>
        </form>
    </section>
    <footer class="info">
        <p>
            Created by AlexRazor
        </p>
    </footer>
</body>
</html>
